@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default'; 
 $nb-enable-css-custom-properties:true;
$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
), default, default);
 

$nb-themes: nb-register-theme(
  (
    color-basic-100: #ffffff,
    color-basic-200: #f7f8fa,
    color-basic-300: #edf0f4,
    color-basic-400: #dde1eb,
    color-basic-500: #c8cedb,
    color-basic-600: #a7b0c1,
    color-basic-700: #657084,
    color-basic-800: #2e384f,
    color-basic-900: #232a40,
    color-basic-1000: #1a1f33,
    color-basic-1100: #131729,
    color-primary-100: #d5d9e4,
    color-primary-200: #c0c5d7,
    color-primary-300: #abb2c9,
    color-primary-400: #979fbc,
    // color-primary-500: #828cae,
    color-primary-500: #F1B847,
    color-primary-600: #6d79a1,
    color-primary-700: #586593,
    color-primary-800: #435286,
    color-primary-900: #2e3f78,
    color-warning-100: #f1e4d0,
    color-warning-200: #ebd6b8,
    color-warning-300: #e4c9a0,
    color-warning-400: #ddbb89,
    // color-warning-500: #d6ad71,
    color-warning-500: #bb7712,
    color-warning-600: #cfa059,
    color-warning-700: #c99241,
    color-warning-800: #c2852a,
    color-warning-900: #bb7712,
    color-danger-100: #e3d1d2,
    color-danger-200: #d5bbbb,
    color-danger-300: #c7a4a5,
    color-danger-400: #ba8d8e,
    // color-danger-500: #ac7677,
    color-danger-500: #741b1d,
    color-danger-600: #9e5f61,
    color-danger-700: #90494a,
    color-danger-800: #823234,
    color-danger-900: #741b1d,
    color-success-100: #f0fff5,
    color-success-200: #e1eedb,
    color-success-300: #d2e5c9,
    color-success-400: #c3ddb7,
    // color-success-500: #b4d4a5,
    color-success-500: #69a94b,
    color-success-600: #96c381,
    color-success-700: #87ba6f,
    color-success-800: #78b25d,
    color-success-900: #69a94b,
    shadow: 0 0.5rem 1rem 0 #2b2d34,
    card-shadow: shadow,
    sidebar-padding: 0rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    switcher-background: #2b2d34,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
    color-primary: #2e3f78,
    color-success: #69a94b,
    color-info: #F1B847,
    color-warning: #bb7712,
    color-danger: #741b1d,
    color-fg-heading: color-primary,
    font-family-primary: Roboto,
    font-family-secondary: Roboto,
    header-text-font-family: font-family-primary,
    user-font-family-secondary: font-family-secondary,
    header-text-font-size: font-size,
    header-text-line-height: line-height,
    header-text-color: color-fg-heading,
    header-background-color: color-primary,
    header-height: 4.75rem,
    header-padding: 1.25rem,
    header-shadow: shadow,
    link-color: #4860a7,
    link-color-hover: #ba8435,
    link-color-visited: #ebd7b8,
    card-header-primary-bg: color-primary,
    card-header-info-bg: color-info,
    card-header-success-bg: color-success,
    card-header-warning-bg: color-warning,
    card-header-danger-bg: color-danger,
    card-scrollbar-color: color-primary,
    card-scrollbar-width: 0.6125rem,
    menu-text-font-family: font-family-primary,
    menu-item-icon-color: #fff,
    menu-text-color: #fff,
    menu-bg: color-primary,
    menu-item-icon-active-color: color-success,
    menu-submenu-item-hover-text-color: color-success,
    menu-item-active-text-color: menu-icon-active-color,
    menu-item-divider-color: color-primary,
    menu-group-bg: #aa8787,
    menu-group-fg: #bebebe,
    menu-group-font-weight: 900,
    menu-group-font-size: 1.2rem,
    menu-icon-font-size: 1.5rem,
    menu-submenu-active-shadow: link-color-hover,
    list-item-font-family: font-family-secondary,
    list-item-divider-color: #2e3f78,
    list-item-padding: 0.5rem,
    icon-primary-color: #fff,
    sidebar-background-color: #2e3f78,
    icon-info-color: color-primary,
    toastr-text-font-family: font-family-primary
  ),
  gdpr,
  default
); 